extends layout

block content
  h1= title
  p A simple app to follow trending tweets live!
  p(id="edit") This Will Change
  script(src='/javascripts/log.js')

  table#TweetTable
    tr#TableColumnHeaders
      th Author
      th Message
    tr#Tweet
      th#Auth Auth
      th#Message Content