body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

#TweetTable {
  border: 1px solid black;
  border-collapse: collapse;
  width: 35vw;
}

#TableColumnHeaders {
  text-align: left;
}